/* CSS reset begins */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }
/*   CSS reset ends*/

html{
  height: 100%;
  width: 100%;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #FFEEDF;
  }
button{
  display: inline-block;
  height: 240px;
  width: 240px;
  background-color: #1C5A4E;
  color: #FFEEDF;
  font-family: 'Montserrat', sans-serif;
  font-size: 200px;
  text-align: center;
  border-radius: 50%;
  line-height: 95px;
}